<!DOCTYPE html>
<html>
    <head>
        <!-- http://getbootstrap.com/ -->
        <link href="../css/bootstrap.min.css" rel="stylesheet"/>
        <link href="../css/styles.css" rel="stylesheet"/>
        <title>Hello, Haiku</title>
        
        <script>
            // make sure to collect the haiku output from draft.php
            // echo "Query: " <%= request.getParameter("query") %> "and Foo: " <%= request.getParameter("foo") %>
            function write_haiku() {
                document.write("HELLO!");
            }

            // if regenerate is clicked, do an ajax_post call
            function ajax_post() {
    
                // create XMLHttpRequest object
                var hr = new XMLHttpRequest();
                var url = "draft.php";
                hr.open("POST", url, true);
                
                // // set content type header info for sending url encoded vars in request
                hr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                
                // send the data to PHP now
                hr.send();
                
                // redirect
                window.location.href = "http://aelfarsdottir.github.io/haiku.html";
          }
          
        </script>
    </head>
    <body> 
        <p>Hello</p>
    </body>
    <!--<body>write_haiku()</body>-->
    <!--<div><?= $haiku ?></div>-->
    <!--<body>-->
    <!--  <div class="container">-->
    <!--    <div id="top">-->
    <!--      <div>-->
    <!--        <a href="/"><img alt="Hello, Haiku" src="../views/logo.png"/></a>-->
    <!--      </div>-->
    <!--    </div>-->

    <!--    <div id="middle">-->
    <!--        <p></p><img src="http://img11.deviantart.net/8f9c/i/2009/101/d/3/fuji_cherry_blossoms__by_zeroai.jpg" alt="Cherry Blossoms" height="342" width="342"><p></p></p>-->
    <!--        <p><?= $haiku ?></p>-->
    <!--        <br></br>-->
            
          <!--we want to submit the REgenerate button click in order to call draft.php again and regenerate a haiku-->
    <!--      <input name="myBtn" type="submit" value="Regenerate!" onclick="ajax_post();">-->
    <!--      <br></br>-->
          
    <!--    </div>-->

    <!--    <div id="bottom">-->
          <!-- Brought to you by <a href="http://aelfarsdottir.github.io">Hello, Haiku</a>. -->
    <!--      <p>Copyright &copy; 2015 Hello, Haiku. All rights reserved.</p>-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</body>-->
</html>